#########################
# .gitignore file for Xcode4 and Xcode5 Source projects
#
# Version 2.1
# For latest version, see: http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects
#
#########################

.DS_Store

.Trashes

*.swp

*.lock

*~.nib

DerivedData/

build/

*.pbxuser

*.mode1v3

*.mode2v3

*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.xccheckout
